<%= simple_form_for(@medicine, html: { class: "contents" }) do |form| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@medicine.errors.count, "error") %> proibiram esse remédio de ser salvo:</h2>

      <ul>
        <% @medicine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <p class="text-slate-900 font-medium text-sm">Imagem</p>
    <%= form.file_field :picture, label: "Imagem", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full dark:text-slate-900" %>
  </div>

  <div class="my-5 text-slate-900">
    <%= form.input :name, label: "Nome", input_html: { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5 text-slate-900 relative">
    <label for="<%= form.object_name %>_unit" class="block text-slate-900 mb-2  font-medium text-sm">
      Unidade
      <span class="relative group inline-block">
        <%= lucide_icon('info', class: 'inline-block w-4 h-4 text-blue-600 cursor-pointer ml-1') %>
        <div class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 hidden group-hover:block bg-gray-800 text-white text-sm rounded-lg py-1 px-2">
          Quantidade de cartela/frasco do remédio em estoque.
        </div>
      </span>
    </label>
    <%= form.input :unit, as: :integer, label: false, input_html: { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-slate-900" } %>
  </div>

  <div class="my-5 text-slate-900">
    <%= form.input :is_liquid, as: :radio_buttons, label: "É liquido?", input_html: { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" } %>
  </div>

  <div class="my-5 text-slate-900 relative">
    <label class="block text-slate-900 mb-2 font-medium text-sm">
      Quantidade
      <span class="relative group inline-block">
        <%= lucide_icon('info', class: 'inline-block w-4 h-4 text-blue-600 cursor-pointer ml-1') %>
        <div class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 hidden group-hover:block bg-gray-800 text-white text-sm rounded-lg py-1 px-2">
          Quantidade de comprimidos (ou ml se for líquido) em uma unidade. Exemplo: Benegripe possue 6 comprimidos em uma unidade.
        </div>
      </span>
    </label>
    <%= form.input :quantity, as: :integer, label: false, input_html: { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-slate-900" } %>
  </div>

  <div class="my-5 text-slate-900">
    <%= form.input :description, as: :text, label: "Descrição", input_html: { rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-slate-900" } %>
  </div>

  <div class="my-5 text-slate-900">
    <%= form.label :medicine_validity, "Validade", class: "font-medium text-sm" %>
    <%= form.date_field :medicine_validity, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-slate-900" %>
  </div>

  <div class="my-5 text-slate-900">
    <%= form.label :medicine_insert, "Bula", class: "block text-slate-900 mb-2 font-medium text-sm dark:text-slate-900" %>
    <%= form.file_field :medicine_insert, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-slate-900" %>
  </div>

  <div class="my-5 text-slate-900 relative">
    <label class="block text-slate-900 mb-2 font-medium text-sm">
      Usado para
      <span class="relative group inline-block">
        <%= lucide_icon('info', class: 'inline-block w-4 h-4 text-blue-600 cursor-pointer ml-1') %>
        <div class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 hidden group-hover:block bg-gray-800 text-white text-sm rounded-lg py-1 px-2">
          Para que é ou foi utilizado o remédio.
        </div>
      </span>
    </label>
    <%= form.input :used_to, label: false, input_html: { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-slate-900" } %>
  </div>

  <div class="my-5 text-slate-900">
    <%= form.association :symptoms, as: :check_boxes, collection: Symptom.all, label: "Sintomas", checked: @medicine.symptom_ids %>
  </div>

  <div class="inline">
    <%= form.button :submit, @medicine.new_record? ? "Cadastrar" : "Editar", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
