<%= render "modal", title: "Detalhes" do %>
  <div class="w-full bg-white p-2">
    <div class="space-y-4">
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Imagem:</strong>
        <% if @medicine.picture.attached? %>
          <%= image_tag url_for(@medicine.picture), class: "w-full max-w-[200px] h-auto object-contain border border-gray-300 rounded-md" %>
        <% else %>
          <%= image_tag "logo-default.png", class: "w-full max-w-[200px] h-auto object-contain border border-gray-300 rounded-md" %>
        <% end %>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Nome:</strong>
        <p class="text-gray-700"><%= @medicine.name %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Unidade:</strong>
        <p class="text-gray-700"><%= @medicine.unit %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">É líquido?</strong>
        <p class="text-gray-700">
          <% if @medicine.is_liquid %>
            Sim
          <% else %>
            Não
          <% end %>
        </p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Quantidade:</strong>
        <p class="text-gray-700"><%= @medicine.quantity %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Descrição:</strong>
        <p class="text-gray-700"><%= @medicine.description %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Validade:</strong>
        <p class="text-gray-700"><%= @medicine.medicine_validity.strftime("%d/%m/%Y") %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Sintomas:</strong>
        <p class="text-gray-700">
          <% @medicine.symptoms.each do |symptom| %>
            <span class="inline-block bg-yellow-400 text-white text-sm px-3 py-1 rounded-md">
              <%= symptom.name %>
            </span>
          <% end %>
        </p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Bula:</strong>
        <p class="text-gray-700"><%= @medicine.medicine_insert %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Usado para:</strong>
        <p class="text-gray-700"><%= @medicine.used_to %></p>
      </div>
    </div>
  </div>
<% end %>
