<%= render "modal", title: "Detalhes" do %>
  <div class="w-full bg-white p-2">
    <div class="space-y-4">
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Name:</strong>
        <p class="text-gray-700"><%= @medicine.name %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Unit:</strong>
        <p class="text-gray-700"><%= @medicine.unit %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Quantity:</strong>
        <p class="text-gray-700"><%= @medicine.quantity %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Medicine validity:</strong>
        <p class="text-gray-700"><%= @medicine.medicine_validity %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Medicine insert:</strong>
        <p class="text-gray-700"><%= @medicine.medicine_insert %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Used to:</strong>
        <p class="text-gray-700"><%= @medicine.used_to %></p>
      </div>
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1">Purchase date:</strong>
        <p class="text-gray-700"><%= @medicine.purchase_date %></p>
      </div>
    </div>
  </div>
<% end %>
