<% content_for :title, "Página inicial" %>

<div class="flex justify-between items-center mb-6">
  <h1 class="font-bold text-4xl text-blue-500">Medicare</h1>
</div>

<div id="home" class="w-full">

  <% if @medicine.last == nil and @symptom.last == nil %>
    <p>
      Seja bem vindo a Medicare. Sua farmacinha particular e online!
      No momento você não tem nada cadastrado no sistema.

      <p>Para começar a usar a Medicare comece cadastrando um sintoma <%= link_to "aqui", new_symptom_path, class: "text-blue-500 underline" %></p>
    </p>
  <% else %>  
    <p>Lista de remédios que tenho em casa | Atualizado em:
      <span class="bg-slate-500 text-white px-2 py-1 rounded">
        <%= @medicine.last ? @medicine.last.updated_at.strftime("%d/%m/%Y") : "---" %>
      </span> 
    </p>

    <br />

    <div class="flex flex-wrap">
      <div class="w-full md:w-1/3 px-2">
        <%= link_to medicines_path, class: "block w-full text-center py-2 bg-blue-500 text-white rounded shadow-md" do %>
          Remédios registrados
          <span class="ml-2 bg-gray-500 text-white px-2 py-1 rounded">
            <%= @medicine.count %>
          </span>
        <% end %>
      </div>
      <div class="w-full md:w-1/3 px-2">
        <%= link_to symptoms_path, class: "block w-full text-center py-2 bg-blue-300 text-white rounded shadow-md" do %>
          Sintomas registrados
          <span class="ml-2 bg-gray-500 text-white px-2 py-1 rounded">
            <%= @symptom.count %>
          </span>
        <% end %>
      </div>
      <div class="w-full md:w-1/3 px-2">
        <button type="button" class="block w-full text-center py-2 bg-yellow-500 text-white rounded shadow-md cursor-not-allowed">
          Próximo ao vencimento
          <span class="ml-2 bg-gray-500 text-white px-2 py-1 rounded">
            <%= @expiring_medicines.count %>
          </span>
        </button>
        <% if @expiring_medicines.any? %>
          <ul class="mt-2">
            <% @expiring_medicines.each do |medicine| %>
              <li><%= "#{medicine.name} - Vencimento em #{medicine.medicine_validity.strftime("%d/%m/%Y")}" %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="text-gray-700 mt-2">Nenhum medicamento próximo ao vencimento.</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
