<!DOCTYPE html>
<html>
  <head>
    <title>Medicare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex h-screen overflow-hidden" data-controller="theme">
    <aside data-controller="sidebar" data-sidebar-target="sidebar" class="bg-blue-500 text-white dark:bg-slate-700 w-60 space-y-6 py-7 px-2 fixed inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition-transform duration-200 ease-in-out">
      <div class="flex items-center justify-between px-4">
        <div id="logo" class="flex items-center space-x-2 hover:text-blue-700">
          <span class="text-3xl font-bold" data-sidebar-target="logo"><%= lucide_icon('briefcase-medical', class: 'h-10 w-10') %></span>
          <span class="text-3xl font-bold hidden md:block" data-sidebar-target="fullLogo">Medicare</span>
        </div>
        <button data-action="sidebar#toggle" class="text-white md:hidden focus:outline-none">
          <%= lucide_icon('menu', class: 'h-6 w-6') %>
        </button>
      </div>
      <nav>
        <%= link_to root_path, class: "block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700" do %>
          <%= lucide_icon('home', class: 'h-6 w-6 inline-block') %>
          <span class="ml-3 hidden md:inline">Home</span>
        <% end %>
        <%= link_to medicines_path, class: "block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700" do %>
          <%= lucide_icon('pill', class: 'h-6 w-6 inline-block') %>
          <span class="ml-3 hidden md:inline">Remedios</span>
        <% end %>
        <%= link_to symptoms_path, class: "block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700" do %>
          <%= lucide_icon('thermometer', class: 'h-6 w-6 inline-block') %>
          <span class="ml-3 hidden md:inline">Sintomas</span>
        <% end %>
      </nav>
    </aside>

    <div class="flex-1 flex flex-col">
      <header class="bg-white shadow-md py-4 px-8 flex justify-between items-center dark:bg-gray-800 dark:text-white">
        <button data-action="theme#toggle" class="text-slate-400 hover:text-slate-600 dark:text-white">
          <%= lucide_icon('moon', class: 'h-6 w-6 inline-block dark:hidden') %>
          <%= lucide_icon('sun', class: 'h-6 w-6 inline-block hidden dark:block') %>
        </button>
        <div class="flex items-center space-x-4">
          <% if user_signed_in? %>
            <span class="text-slate-700 dark:text-white">Olá, <%= current_user.email %></span>
            <%= link_to destroy_user_session_path, class: "text-slate-400 hover:text-slate-600 dark:text-white" do %>
              <%= lucide_icon('log-out', class: 'h-6 w-6 inline-block') %>
              <span>Sair</span>
            <% end %>
          <% else %>
            <span class="text-slate-700 dark:text-white">Olá, Visitante</span>
            <%= link_to new_user_registration_path, class: "text-slate-400 hover:text-slate-600 dark:text-white" do %>
              <%= lucide_icon('user-plus', class: 'h-6 w-6 inline-block') %>
              <span>Cadastrar</span>
            <% end %>
            <%= link_to new_user_session_path, class: "text-slate-400 hover:text-slate-600 dark:text-white" do %>
              <%= lucide_icon('log-in', class: 'h-6 w-6 inline-block') %>
              <span>Logar</span>
            <% end %>
          <% end %>
        </div>
      </header>
      <main class="flex-1 overflow-auto p-8 dark:bg-gray-900 dark:text-white">

        <button data-action="sidebar#toggle" class="fixed bottom-4 left-4 bg-blue-600 text-white p-2 rounded-full shadow-md hover:bg-blue-700 dark:bg-slate-700 dark:text-white">
          <%= lucide_icon('arrow-left', class: 'h-6 w-6') %>
        </button>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
